services:
  apache:
    image: httpd:latest
    container_name: apache
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apache.rule=Host(`mon-site.localhost`) && PathPrefix(`/front`)"
      - "traefik.http.routers.apache.entrypoints=web"
      - "traefik.http.routers.apache.middlewares=apache-stripprefix"
      - "traefik.http.middlewares.apache-stripprefix.stripprefix.prefixes=/front"
      - "traefik.http.services.apache.loadbalancer.server.port=80"
      - "traefik.http.routers.nginx.middlewares=ldap_auth"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.enabled=true"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.attribute=uid"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.bindDN=cn=admin,dc=ansible,dc=fr"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.bindPassword=secret"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.baseDN=dc=ansible,dc=fr"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.serverList[0].url=ldap://ldap"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.searchScope=2"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.serverList[0].port=1389"
    networks:
      - private

networks:
  private:
    external: true

