services:
  whoami:
    image: traefik/whoami
    restart: unless-stopped
    container_name: whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami.entrypoints=web"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami.middlewares=ldap_auth"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.enabled=true"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.attribute=uid"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.bindDN=cn=admin,dc=ansible,dc=fr"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.bindPassword=secret"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.baseDN=dc=ansible,dc=fr"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.serverList[0].url=ldap://ldap"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.searchScope=2"
      - "traefik.http.middlewares.ldap_auth.plugin.ldapAuth.serverList[0].port=1389"
    networks:
      - private

networks:
  private:
    external: true


